*{
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  
}
:root {
  font-size: 10px;
}
/* Nav bar */
.navbar {
   width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
  z-index: 9999;
  top: 0;
  background-color: white;
}
.nav-logo {
  width: auto;
  display: flex;
  justify-content: center;
}
.icon {
  width: 100px;
  height: 100px;
}
.icon-name {
  width: 317px;
  height: 100px;
}

.nav-items {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  /* background-color: white; */
  padding: 10px;
}
.nav-items a {
  display: flex;
  text-decoration: none;
  color: #1c2e3c;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 10px 20px 10px;
}
.nav-list,.nav-list-1,.nav-list-2 {
  position: relative;
  display: inline-block;
}
.sub-nav-list,
.sub-nav-list-1,
.sub-nav-list-2 {
  position: absolute;
  background-color: white;
  top: 100%;
  width: 200px;
  height: fit-content;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  left: -50px;
  z-index: 9999;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
  transition: all 0.5sec;
}
.nav-items a {
  padding: 10px 10px 12px 10px;
}

.nav-list:hover .sub-nav-list {
  display: flex;
  transition: ease-in 1s;
}
.nav-list-1:hover .sub-nav-list-1{
  display: flex;
  transition: ease-in 1s;
}
.nav-list-2:hover .sub-nav-list-2{
   display: flex;
  transition: ease-in 1s;

}

.nav-items a:hover {
  color: #3b82f6;
}
.sub-para{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}
 .main-para{
  background: url(school.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.7; */
 }
.para-content1{
  display: flex;
  align-items: start;
  gap: 20px;
  background-color: #EEF2FF;
  padding:20px;
  width: 50%;
  border-radius: 10px;
  /* justify-content: center; */
  line-height: 2.1;
  margin: 20px 20px;
  font-size: 2rem;
}
.img1 img{
  width: 30px;
}
.para1 p{
  font-size: 15px;
  font-weight: 500;
}
.sub-para h2{
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 20px;
}
.para1 mark b {
  padding: 30px 10px;
} 