*{
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  
}
:root {
  font-size: 10px;
}
/* Nav bar */
.navbar {
   width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
  z-index: 9999;
  top: 0;
}
.nav-logo {
  width: auto;
  display: flex;
  justify-content: center;
}
.icon {
  width: 100px;
  height: 100px;
}
.icon-name {
  width: 317px;
  height: 100px;
}

.nav-items {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  /* background-color: white; */
  padding: 10px;
}
.nav-items a {
  display: flex;
  text-decoration: none;
  color: #1c2e3c;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 10px 20px 10px;
}
.nav-list,.nav-list-1,.nav-list-2 {
  position: relative;
  display: inline-block;
}
.sub-nav-list,
.sub-nav-list-1,
.sub-nav-list-2 {
  position: absolute;
  background-color: white;
  top: 100%;
  width: 200px;
  height: fit-content;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  left: -50px;
  z-index: 9999;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
  transition: all 0.5sec;
}
.nav-items a {
  padding: 10px 10px 12px 10px;
}

.nav-list:hover .sub-nav-list {
  display: flex;
  transition: ease-in 1s;
}
.nav-list-1:hover .sub-nav-list-1{
  display: flex;
  transition: ease-in 1s;
}
.nav-list-2:hover .sub-nav-list-2{
   display: flex;
  transition: ease-in 1s;

}

.nav-items a:hover {
  color: #3b82f6;
}
.main-content{
  background:url(School.jpg);
  padding: 2rem;
  width: 100%;
  background-size: cover;
}

.main-content h3{
  color: rgb(0, 0, 0);
  font-size: 4rem;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
  
}
.main-content h3:hover{
  text-decoration: underline;
  color:rgb(153, 7, 7); 
  cursor: pointer;
}
.list-1,
.list-3,
.list-5{
   background-color: rgb(211, 234, 255);
  font-size: 1.9rem;
  width: 60%;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  line-height: 1.6;
  text-align: justify;
  position: relative;
  left: 8%;
}
.list-2,
.list-4{
   background-color: rgb(211, 234, 255);
  font-size: 1.9rem;
  width: 50%;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  line-height: 1.6;
  text-align: justify;
  left: 40%;
  position: relative;
}