*{
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  
}
:root {
  font-size: 10px;
}
/* Nav bar */
.navbar {
   width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
}
.nav-logo {
  width: auto;
  display: flex;
  justify-content: center;
}
.icon {
  width: 100px;
  height: 100px;
}
.icon-name {
  width: 317px;
  height: 100px;
}

.nav-items {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  background-color: white;
  padding: 10px;
}
.nav-items a {
  display: flex;
  text-decoration: none;
  color: #1c2e3c;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 10px 20px 10px;
}
.nav-list,.nav-list-1,.nav-list-2 {
  position: relative;
  display: inline-block;
}
.sub-nav-list,
.sub-nav-list-1,
.sub-nav-list-2 {
  position: absolute;
  background-color: white;
  top: 100%;
  width: 200px;
  height: fit-content;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  left: -50px;
  z-index: 9999;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
  transition: all 0.5sec;
}
.nav-items a {
  padding: 10px 10px 12px 10px;
}

.nav-list:hover .sub-nav-list {
  display: flex;
  transition: ease-in 1s;
}
.nav-list-1:hover .sub-nav-list-1{
  display: flex;
  transition: ease-in 1s;
}
.nav-list-2:hover .sub-nav-list-2{
   display: flex;
  transition: ease-in 1s;

}

.nav-items a:hover {
  color: #3b82f6;
}
/* Footer Color #0F172A */